@import url('https://fonts.googleapis.com/css?family=Oswald:300&display=swap');

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body{
    font-family:'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;

}

.clear{/*Для удаления обтекания*/
    clear: both;
}

.right{
    text-align: right;
}


header{
    background: #2886af;;
    border: 1px solid #fff4f3;
    height: 55px;
    padding: 12px 20px 0;
    text-align: center;


}

header h1{
    color: #fff;
    float: left;
    width: 90%;
    font-size: 210%;
    margin: 0;
}

header h4{
    color: #fff;
    float: right;
    width: 10%;
    font-size: 100%;
    margin-bottom: 0;
    margin-top: 20px;
}
a {
    font-family:'Oswald', sans-serif;
    color: #2886af;
}
.logout{
    color: white;
}
.buttonUpdate{
    color: white;
    background: #2886af;
    font-family:'Oswald', sans-serif;
    -webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    white-space: nowrap;
    width: 180px;
}
.buttonDelete{
    color: white;
    background: darkred;
    font-family:'Oswald', sans-serif;
    -webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    white-space: nowrap;
    width: 180px;
    align-content: center;
}
.deleteFile{
    /*background: url(../img/bucketfree.png) 50% 50% no-repeat;*/
    /*background-size: contain;*/
    /*width: 30px;*/
    /*height: 5px;*/

    color: white;
    background: #af8288;
    font-family:'Oswald', sans-serif;
    -webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;

}
.buttonDelAll{
    float: right;
    color: white;
    background: darkred;
    font-family:'Oswald', sans-serif;
    -webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    white-space: nowrap;
    width: 180px;
    align-content: center;
}
.buttonExecute{
    color: white;
    background: green;
    font-family:'Oswald', sans-serif;
    -webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    white-space: nowrap;
    width: 180px;
    align-content: center;
}

input[type="text"]{
    font-family:'Oswald', sans-serif;
    background-color: #F5F5F4;
    width: 40%;
    height: 30px;
    margin-bottom: 7px;
    border-radius: 3px;
    padding-left: 5px;
    border: 1px solid lightgray;
    color: #262626;
    font-size: 14px;
}
input[type="date"]{
    font-family:'Oswald', sans-serif;
    background-color: #F5F5F4;
    width: 25%;
    height: 30px;
    margin-bottom: 7px;
    border-radius: 3px;
    padding-left: 5px;
    border: 1px solid lightgray;
    color: #262626;
    font-size: 14px;
}
input[type="file"]{
    content: "Choose file";
    font-family:'Oswald', sans-serif;
    width: 25%;
    height: 30px;
    margin-bottom: 7px;
    border-radius: 3px;
    padding-left: 5px;
    color: #262626;
    font-size: 14px;
}
#submit{
    width: 50%;
}
#clear{
    width: 40%;
}
.frame {
    width: auto;
    height: 220px; /* Размеры */
    margin: auto auto 0 auto;
    background: #fff; /* Цвет фона */
    text-align: center;
    font-size: 14px;
}

nav{
    float: left;
}
.navigate{
    color: #2886af;
    background: white;
    font-family:'Oswald', sans-serif;
    -webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    white-space: nowrap;
    width: 120px;

}
.navigation{
    float: left;
    width: 15%;
    margin-top: 45px;
}
table {
    float: right;
    border-collapse: collapse;
    width: 85%;
}

th {
    border-bottom: 3px solid white;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
}
tr:nth-child(odd) {
    background: #2886af;
    color: white;
}
tr:nth-child(even) {
    background: white;
    color: #2886af;
}
.thcheck{
    width: 3%;
    text-align: center;
}
.thdate{
    width: 15%;
}
.thfile{
    width: 35%;
}