@import url('https://fonts.googleapis.com/css?family=Oswald:300&display=swap');
.authorizationText {
    font-family:'Oswald', sans-serif;
    color: #2886af;
    text-align: center;
    font-size: 40px;
    padding-bottom: 0%;
    padding-top: 3%;
}

.submit {
    color: #fff;
    font-family:'Oswald', sans-serif;
    background-color: #2886af;
    -webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    white-space: nowrap;
    width: 300px;
}

input[type="text"], input[type="password"] {
    font-family:'Oswald', sans-serif;
    background-color: #F5F5F4;
    width: 290px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 7px;
    border-radius: 3px;
    padding-left: 5px;
    border: 1px solid lightgray;
    color: #262626;
    font-size: 14px;
}

body {
    background-color: #f2f2f2;
    font-family: 'Oswald', sans-serif;;
    font-weight: 300;
    font-size: 25px;
    color: #555;
}

img {
    width: 150px;
    height: 150px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.goToSignup,  .goToLogin{
    font-family:'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 390px;
    height: 80px;
    margin: 10px auto 0 auto;
    border: 2px solid lightgray;
    font-size: 14px;
}
a {
    font-family:'Oswald', sans-serif;
    color: #2886af;
}

.congrats {
    font-family:'Oswald', sans-serif;
    color: #2886af;
    text-align: center;
    font-size: 25px;
    padding-bottom: 0%;
    padding-top: 3%;
}

.error {
    font-family:'Oswald', sans-serif;
    color: #af8288;
    text-align: center;
    font-size: 40px;
    padding-bottom: 0%;
    padding-top: 3%;
}

.signin {
    background: #fff;
    width: 390px;
    height: 260px;
    margin: 90px auto 0 auto;
    text-align: center;
    border: 2px solid lightgray;
    font-size: 14px;
}

.singup {
    background: #fff;
    width: 390px;
    height: 460px;
    margin: 90px auto 0 auto;
    text-align: center;
    border: 2px solid lightgray;
    font-size: 14px;
}

.frame {
    width: 290px;
    height: 145px; /* Размеры */
    margin: auto auto 0 auto;
    background: #fff; /* Цвет фона */
    text-align: center;
//    outline: 2px solid #000; /* Чёрная рамка */
    border: 2px solid lightgray; /* Серая рамка */
    border-radius: 10px; /* Радиус скругления */
    font-size: 14px;
}
.block-header{
    width: 100%;
    height: 5%;
    margin: auto 0 auto auto;
    background: #2886af; /* Цвет фона */
    text-align: center;
    color: white;
    font-size: 25px;
    outline: 2px solid #000; /* Чёрная рамка */
}


